.showcase {
  position: relative;
}

.showcase__content {
  width: 100%;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.showcase__slide {
  width: 100%;
  display: list-item;
  opacity: 0;
  transition: opacity 0.4s ease 0s;
  position: relative;
  margin-right: -100%;
}

.showcase__slide img {
  width: 100%;
  height: auto;
}

.showcase__slide.active {
  opacity: 1;
}

.showcase__prev,
.showcase__next {
  width: 6%;
  height: 6%;
  max-width: 45px;
  max-height: 45px;
  user-select: none;
  outline: none;
  background: none;
  padding: 0;
  border: 0;
  opacity: 0.5;
  cursor: pointer;
  position: absolute;
  top: 50%;
}

.showcase__prev:focus,
.showcase__next:focus {
  outline: -webkit-focus-ring-color auto 1px;
}

.showcase__next {
  right: 10px;
}

.showcase__dots {
  margin: 0 auto;
  display: flex;
  user-select: none;
  justify-content: center;
}

.showcase__dot {
  background: none;
  border: 0;
  padding: 0;
  user-select: none;
  outline: none;
  display: block;
  cursor: pointer;
  color: #ccc;
  border-radius: 999px;
  background: #ccc;
  width: 12px;
  height: 12px;
  margin: 7px;
}

.showcase__dot:focus,
.showcase__dot:hover,
.showcase__dot.active {
  background: #a89cc8;
}


@media screen and (min-width: 780px) {
  .showcase__prev,
  .showcase__next,
  .showcase__dots {
    display: none;
  }

  .showcase__slide {
    opacity: 1;
  }

  /* Center last image, but only if it's an odd number */
  .showcase__slide:nth-last-child(1):nth-child(odd) {
    justify-self: center;
  }
  
  .showcase__content {
    width: 100%;
    display: grid;
    grid-template-columns: 47% 47%;
    grid-template-rows: auto;
    grid-gap: 3%;
  }
}