html,
body {
  padding: 0;
  margin: 0;
}

.showcase {
  max-width: 600px;
  position: relative;
}

.showcase__content {
  width: 100%;
  display: flex;
  overflow-x: auto;
}

.showcase__slide {
  width: 100%;
  opacity: 0;
  transition: opacity 0.4s ease 0s;
  float: left;
  position: relative;
  margin-right: -100%;
}

.showcase__slide.active {
  opacity: 1;
}

.showcase__prev,
.showcase__next {
  display: none;
  width: 6%;
  height: 6%;
  max-width: 45px;
  max-height: 45px;
  user-select: none;
  outline: none;
  background: none;
  padding: 0;
  border: 0;
  opacity: 0.5;
  cursor: pointer;
  position: absolute;
  top: 50%;
}

.showcase__next {
  right: 10px;
}

.showcase__dots {
  margin: 0 auto;
  display: flex;
  user-select: none;
  justify-content: center;
}

.showcase__dot {
  background: none;
  border: 0;
  padding: 0;
  user-select: none;
  outline: none;
  display: block;
  cursor: pointer;
  color: #ccc;
  border-radius: 999px;
  background: #ccc;
  width: 12px;
  height: 12px;
  margin: 7px;
}

.showcase__dot:focus,
.showcase__dot:hover,
.showcase__dot.active {
  background: #a89cc8;
}


@media screen and (min-width: 780px) {
  .showcase__prev,
  .showcase__next {
    display: block;
  }
  
  .product-images .glider-prev,
  .product-images .glider-next {
    display: none;
  }
  .product-images .glider {
    overflow-y: auto;
  }
  .product-images .glider-track {
    width: 100% !important;
    transform: none;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: auto;
    grid-gap: 5%;
  }
  .product-images .glider-track > * {
    height: auto !important;
    width: 100% !important;
  }
}