.showcase {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.showcase.showcase--thumbs-left {
  grid-template-columns: 15% 85%;
}

.showcase.showcase--thumbs-right {
  grid-template-columns: 85% 15%;
}

.showcase__main {
  position: relative;
}

.showcase.showcase--thumbs-left .showcase__main {
  grid-area: 1 / 2 / 1 / 2;
}

.showcase__content {
  width: 100%;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.showcase__slide {
  width: 100%;
  display: list-item;
  opacity: 0;
  transition: opacity 0.4s ease 0s;
  position: relative;
  margin-right: -100%;
}

.showcase__slide img {
  width: 100%;
  height: auto;
}

.showcase__slide.active {
  opacity: 1;
}

.showcase__prev,
.showcase__next {
  width: 6%;
  height: 6%;
  max-width: 45px;
  max-height: 45px;
  user-select: none;
  outline: none;
  background: none;
  padding: 0;
  border: 0;
  opacity: 0.5;
  cursor: pointer;
  position: absolute;
  top: 50%;
}

.showcase__prev:focus,
.showcase__next:focus {
  outline: -webkit-focus-ring-color auto 1px;
}

.showcase__next {
  right: 10px;
}

.showcase__thumbs {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  user-select: none;
  justify-content: center;
  list-style-type: none;
}

.showcase__thumbs--img {
  width: 100%;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  column-gap: 1%;
  align-items: center;
  overflow-x: scroll;
}

.showcase.showcase--thumbs-left .showcase__thumbs--img,
.showcase.showcase--thumbs-right .showcase__thumbs--img {
  flex-flow: column nowrap;
  overflow-x: hidden;
  overflow-y: scroll;
}

.showcase__thumbs--img button,
.showcase__thumbs--dot button {
  background: none;
  border: 0;
  padding: 0;
  user-select: none;
  outline: none;
  display: block;
  cursor: pointer;
}

.showcase__thumbs--dot button {
  cursor: pointer;
  color: #ccc;
  border-radius: 999px;
  background: #ccc;
  width: 12px;
  height: 12px;
  margin: 7px;
}

.showcase__thumbs--dot img {
  display: none;
}

.showcase__thumbs--dot button:focus,
.showcase__thumbs--dot button:hover,
.showcase__thumbs--dot button.active {
  background: #a89cc8;
}

.showcase__thumbs--img button {
  /* Width is set with JS */
  height: auto;
  max-width: 100px;
  margin: 0 0px;
}

.showcase__thumbs--img img {
  width: 100%;
  height: auto;
}

.showcase--grid .showcase__thumbs {
  display: none;
}
.showcase--grid .showcase__prev,
.showcase--grid .showcase__next,
.showcase--grid .showcase__dots {
  display: none;
}

.showcase--grid .showcase__slide {
  opacity: 1;
}

/* Center last image, but only if it's an odd number */
.showcase--grid .showcase__slide:nth-last-child(1):nth-child(odd) {
  justify-self: center;
}

.showcase--grid .showcase__content {
  width: 100%;
  display: grid;
  grid-template-columns: 47% 47%;
  grid-template-rows: auto;
  grid-gap: 3%;
}